{erl_opts, [debug_info]}.

{deps, [{clojerl, "0.9.0"}]}.

{plugins, [{rebar3_clojerl, "0.8.8"}]}.

{ profiles
, [ { dev
    , [ { deps
        , [ {eper, {git, "https://github.com/massemanet/eper", {branch, "master"}}}
          , {redbug, {git, "https://github.com/massemanet/redubg", {branch, "master"}}}
          , {eflame, {git, "https://github.com/jfacorro/eflame", {branch, "master"}}}
          ]
        }
      ]
    }
  ]
}.
